<?xml version="1.0" encoding="UTF-8" ?>
<Configuration  monitorInterval="30" >

	<Appenders>
		<Console name="Stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>

        <!-- info|warn -->
		<RollingFile name="infoLogFile"
			fileName="/home/tomcat/absbank/logs/abs-info2.log" filePattern="/home/tomcat/absbank/logs/abs-info2-%d{yyyy-MM-dd}-%i.log">
			<Filters>
				<ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="DENY"/>
			</Filters>
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" charset="UTF-8"/>			 
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>

        <!-- debug -->
		<RollingFile name="debugLogFile"
			fileName="/home/tomcat/absbank/logs/abs-debug2.log" filePattern="/home/tomcat/absbank/logs/abs-debug2-%d{yyyy-MM-dd}-%i.log">
			<Filters>
				<ThresholdFilter level="DEBUG" />
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" charset="UTF-8" />			 
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>		
        <!-- error -->
		<RollingFile name="errorLogFile"
			fileName="/home/tomcat/absbank/logs/abs-error2.log" filePattern="/home/tomcat/absbank/logs/abs-error2-%d{yyyy-MM-dd}-%i.log">
			<Filters>
				<ThresholdFilter level="ERROR"/>
			</Filters>
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" charset="UTF-8" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
 		    <AppenderRef ref="Stdout" /> 
 			<AppenderRef ref="infoLogFile" />
 			<AppenderRef ref="errorLogFile" /> 
 			<AppenderRef ref="debugLogFile" /> 
		</Root>
		<!-- 所有com.joyintech 包的 Log级别，方便调试 -->
		<Logger name="com.joyintech" level="debug" additivity="false">
			<AppenderRef ref="Stdout" />
			<AppenderRef ref="infoLogFile" />
			<AppenderRef ref="errorLogFile" />
			<AppenderRef ref="debugLogFile" />
		</Logger>  

		<!-- 单独包的日志配置 -->
		 <Logger name="org.seasar" level="debug" additivity="false">
			<AppenderRef ref="Stdout" />
			<AppenderRef ref="infoLogFile" />
			<AppenderRef ref="errorLogFile" />
			<AppenderRef ref="debugLogFile" />
		</Logger>  
		<!-- 单独包的日志配置 -->
		<Logger name="joyinframework" level="error" additivity="false">
			<AppenderRef ref="Stdout" />
			<AppenderRef ref="errorLogFile" />
			<AppenderRef ref="infoLogFile" />
			<AppenderRef ref="debugLogFile" />
		</Logger>
		<!-- 单独包的日志配置 -->
		 <Logger name="org.zkoss" level="error" additivity="false">
		    <AppenderRef ref="Stdout" />
			<AppenderRef ref="errorLogFile" />
			<AppenderRef ref="infoLogFile" />
			<AppenderRef ref="debugLogFile" />
		</Logger>
	</Loggers>
</Configuration>
